$font-size-base: 1.8rem;
$font-sizes: (
    xsmall: 0.6em,
    small: 0.8em,
    subtext: 0.9em,
    normal: 1em,
    medium: 1.2em,
    large: 1.4em,
    h1: 2.2em,
    h2: 1.8em,
    h3: 1.4em,
    h4: 1.2em,
    h5: 1em,
    h6: 1em
);

@mixin font-size($type: normal) {
    font-size: map-get($font-sizes, $type);
}

$font-family-body: ("Source Sans Pro", "Avenir Next", "Tahoma", "sans-serif");
$font-family-head: ("Barlow Condensed", "Avenir Next Condensed", "Franklin Gothic Medium", "sans-serif");

$font-families: (
    default: $font-family-body,
    brand: $font-family-head,
    nav: $font-family-head,
    heading: $font-family-head,
    mono: ("Source Code Pro", "Monaco", "monospace")
);

@mixin font-family($type: default) {
    font-family: map-get($font-families, $type);
}

$font-type-body: (style: normal, weight: 400);
$font-type-head: (style: normal, weight: 500);

$font-types: (
    default: $font-type-body,
    brand: $font-type-head,
    nav: $font-type-head,
    heading: $font-type-head,
    link: (style: inherit, weight: inherit),
    bold: (style: inherit, weight: 700),
    italic: (style: italic, weight: inherit),
    blockquote: (style: italic, weight: inherit),
);

@mixin font-type($type: default) {
    font-style: map-get(map-get($font-types, $type), style);
    font-weight: map-get(map-get($font-types, $type), weight);
}

$line-heights: (
    default: 1.2,
    paragraph: 1.6,
    code: 1.4,
    heading: 1.4
);

@mixin line-height($type: default) {
    line-height: map-get($line-heights, $type);
}

$paragraphings: (
    default: 0,
    paragraph: $font-size-base * 1,
    paragraph-small: $font-size-base * 0.4,
    links: $font-size-base * 0.8,
    heading: $font-size-base * 1,
    main: $font-size-base * 1,
);

@mixin paragraphing($type: default) {
    margin-top: map-get($paragraphings, $type);
    margin-bottom: map-get($paragraphings, $type);
}
