<div class="footer-wrapper">
	<footer class="footer">
		<div class="column">
			<div class="group">
				<a href="{{ site.baseurl }}/"><i class="icon" aria-hidden="true" style="font-size: 10rem">logo</i></a>
			</div>
		</div>
		<div class="column">
			<div class="group">
				<ul class="links">
					<li class="link"><a href="{{ site.baseurl }}/">Home</a></li>
					<li class="link"><a href="{{ site.baseurl }}/pre-event">Pre-events</a></li>
					<li class="link"><a href="{{ site.baseurl }}/event">Event</a></li>
					<li class="link"><a href="{{ site.baseurl }}/event#schedule">Schedule</a></li>
					<li class="link"><a href="{{ site.baseurl }}/register">Register</a></li>
					<li class="link"><a href="{{ site.baseurl }}/contact">Contact</a></li>
					<li class="link"><a href="{{ site.baseurl }}/partners">Partners</a></li>
					<li class="link"><a href="{{ site.baseurl }}/entertainment">Entertainment</a></li>
				</ul>
			</div>
			<div class="group">
				<ul class="links">
                    <li class="link"><a href="https://instagram.com/buildingblocs18" target="_blank"><i class="icon" aria-hidden="true">instagram</i> Instagram</a></li>
                    <li class="link"><a href="https://github.com/buildingblocs" target="_blank"><i class="icon" aria-hidden="true">github</i> GitHub</a></li>
				</ul>
			</div>
			<div class="group">
				<small>Hand-crafted by <a href="https://ambrose.makerforce.io/">Ambrose</a>	<a href="https://github.com/ddx-510">DDX</a></small>
			</div>
		</div>
	</footer>
</div>
