// TODO: move color choices to _color.scss
.btn,
a.btn,
.links .btn {
    background-color: $theme-color;
    color: $background-color;
    border: 2px solid $theme-color;
    border-radius: 2em;
    line-height: 1.2;
    padding: 0.222222em 0.555555em; // !important;
    margin: 0.222222em 0;
    display: inline-block;
    transition: 0.2s color, 0.2s background-color, 0.2s border-color;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: $background-color;
        color: $theme-color;
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    * {
        vertical-align: text-bottom;
    }

    i {
        font-size: 2.4rem;
    }
}

.invert .btn,
.invert a.btn {
    background-color: $background-color;
    color: $theme-color;
    border-color: $background-color;

    &:hover {
        background-color: $theme-color;
        color: $background-color;
    }
}

