main {
    padding: 0 2rem;
    @include paragraphing(main);
    min-height: 50vh;

    padding-top: 6.4rem;

    //.content {
        ul, ol {
            padding-left: 1em;
        }
    //}

    section {
        margin: 1rem 0;
    }

    .pull-right {
        float: right;
    }
    .pull-left {
        float: left;
    }
    
    .clearfix {
        clear: both;
    }

    .w100 {
        width: 100%;
    }
    .w50 {
        width: 50%;
    }
    .w30 {
        width: 30%;
    }
    .w25 {
        width: 25%;
    }
    .w23 {
        width: 23%;
    }
    .w20 {
        width: 20%;
    }
    .w15 {
        width: 15%;
    }
}
