.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 6.4rem - 6.4rem);
    min-height: 48rem;

    text-align: center;
    @include font-size(large);

    h1 {
        line-height: 1.1;
    }
    .huge {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 380px) {
    .jumbo {
        @include font-size(medium);
    }
}
