@mixin link($type: default) {
    .link,
    a[href] {
        color: link-palette($type, link);
        text-decoration: none;
        @include font-type(link);
        transition: 0.3s color;

        &:hover {
            color: link-palette($type, hover);
        }

        &:active {
            color: link-palette($type, active);
        }
    }
}

@include link();

.invert {
    @include link(invert);
}
