.navigation,
main,
.footer {
    margin-left: auto;
    margin-right: auto;
    //max-width: calc(72rem + 20vw);
    //max-width: calc(56rem + 20vw);
    max-width: calc(48rem + 20vw);
}

@media screen and (max-width: 350px) {
    html {
        font-size: $base-unit * 0.9;
    }
}
